@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #c6fff7;
    font-family: "Open Sans", sans-serif;
    margin: 5%;
    line-height: 1.6;

}

main{
    max-width: 800px;
    margin: auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(28,123,54,0.1);
}

header{
    text-align: center;
    color:rgb(20, 0, 39);
    padding: 20px 0;
    border-radius: 8px 8px 0 0;
    background-image: url('./jonathan-kemper-H488ymQgIgM-unsplash.jpg')
}

header figure img {
    border-radius: 50%;
    border: 5px solid #216cae;
    box-shadow: 0px 0px 10px ;
}

header h1{
    font-size: 1.2em;
    opacity: 0.7;
}
header h2{
    font-size: 12.2;
    opacity: 0.7;

}

.container{
    background-color: rgb(0, 185, 15);
    width: 80%;
    margin: 0 auto;
    position: relative;
    z-index: 1;

}

.contenedor_foto_perfil{
    width: 280px;
    height: 280px;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    border: 7px solid #216cae;
    margin: 5%;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.5) ;

}

.contenedor_foto_perfil img{
    width: 100%;
    height: auto;
    display: block;

}